<!-- Yuqing Wang 2016, Mingjie Jin 2016-->

<head>
	<title>Map the Money Maze | App To Succeed</title>
	<meta name="keywords" content="App to Succeed, Map the Money Maze"/>
    <meta name="description" content="Map the Money Maze application to help teenagers learn personal finance information"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Map the Money Maze'); </script>
</head>

<div id="main-entry">
	<h5>WHAT IS MAP THE MONEY MAZE?</h5>
	<p>MAP THE MONEY MAZE IS:</p>
	<ul>
		<li>The first learning experience of its kind.</li>
		<li>Designed to prepare you to succeed financially.</li>
		<li>A highly interactive, visual good time.</li>
		<li>All about you: your goals, your abilities and your choices.</li>
	</ul>
	<p>Through this website you enter a network of mazes. Once inside, you find some information. You go over the information until you understand the concept.</p>
	<p>When you are ready, you move a bit further in the Maze and you are challenged to make a decision on a real-world financial situation, using what you just learned.</p>
	<p>If you make a good decision, you move on in the Maze. If you make a poor choice, you are routed to a place for additional information to prepare you for a similar challenge until you make the right decision for you.</p>
	<p>No one has the same path through the Maze. In many cases, what is best for you, is not for someone else.</p>
	<p>You are in complete control of your progress through the Maze. The farther you go, the more value is added to your financial future.</p>
	<h5>WHAT MAKES MAP THE MONEY MAZE THE BEST?</h5>
	<p><strong>Shared Objectives</strong><br>
		The purpose of Map the Money Maze is the same as yours, to ensure your son/ daughter learns credible information that’s essential for his/her financial well-being. 
	</p>
	<ul>
		<li>Map the Money Maze is not trying to sell a variety of products to make a profit.</li>
		<li>The objective of Map the Money Maze is to educate your son/daughter about personal finance so he/she can succeed financially.</li>
	</ul>
	<p><strong>Costs Less and Offers More</strong><br>
		Map the Money Maze is priced to be available to all American 16-19-year-olds, regardless of budget limitations or crowded curriculums.
	</p>
	<p>It costs less than the current comprehensive, personal finance education alternatives, and offers sponsorships to those students (or groups) who cannot afford the $50.00 for the four-month student subscription.</p>
	<p>It has no hidden or additional costs, e.g. no workbooks, DVDs, texts, lesson plans nor the need to purchase updated material. Map the Money Maze is accessed through the internet from computers and mobile devices and is updated on a regular basis at no extra charge.</p>
	<p>Proceeds are entirely allocated to updating Map the Money Maze, minimal overhead costs and development of new financial literacy programs to serve other at-risk demographic groups in the United States.</p>
	<p><strong>Effective</strong><br>
		The content includes multiple ways to measure your son’s/daughter’s comprehension and compares it to average scores.
	</p>
	<p><strong>Academic Credit</strong><br>
		The content meets the academic standards for personal finance. Map the Money Maze will help your teen request academic credit for completing Map the Money Maze.
	</p>
	<p><strong>Certification</strong><br>
		Your son or daughter will be awarded a Certificate of Financial Literacy when he/she completes Map the Money Maze. We recommend that your teen includes his/her certification on his/her college and/or financial aid applications and/or on his/her resume.
	</p>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/superior-content">Next Page >></a>
</div>