<!-- Yuqing Wang 2016 -->

<head>
	<title>Personal Finance Education | App To Succeed</title>
	<meta name="keywords" content="Personal Finance Education, App to Succeed, Map the Money Maze"/>
    <meta name="description" content="Personal Finance education for your teenage son or daughter"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Personal Finance Education'); </script>
</head>

<div id="main-entry">
	<h5>IT WORKS</h5>
	<div class="content-column">
		<div style="">
			<p>Personal finance education is your son’s/daughter’s key to positive financial outcomes despite the trends that are creating extra financial challenges.</p>
			<ul>
				<li>If your son or daughter completes a course in personal finance education, they are apt to:</li>
				<ul>
					<li>borrow less</li>
					<li>accumulate more wealth</li>
					<li>pay less in fees for financial services</li>
					<li>have less difficulty with debt</li>
					<li>make investments</li>
					<li>know the terms of their mortgages and other loans and</li>
					<li>learn more about personal finance throughout their lifetime.</li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="content-column"><img/></div>
	<p></p>
	<h5>IT’S WANTED</h5>
	<p>95% of Americans want a personal finance course to be a high school requirement.</p>
	<h5>IT’S NEEDED</h5>
	<p>Each year, over 2.2 million American teens graduate without adequate personal finance education.</p>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/map-the-money-maze">Next Page >></a>
</div>