<!-- Jewel Lee 2016 -->

<head>
	<title>Contact | App To Succeed</title>
	<meta name="keywords" content="Contact, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="Contact form to get in touch with App to Succeed"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript">setHeaderPageTitle('Contact');</script>
</head>


<div id="page-view">
    <div id="secondary"></div>
    <div id="primary">
    	<article>
    		<div id="entry-content">
    			<div id="main-entry">
    				<!-- CONTENT HERE -->
                    <h5>How To Get In Touch</h5>
                    <p>
                        <strong>Email: </strong><a href="mailto:MoneyMaze@apptosucceed.org">MoneyMaze@apptosucceed.org</a><br> 
                        <strong>Phone Number:</strong> 203-644-2306<br> 
                        <strong>Address:</strong> 86 Wildwood Road Stamford, CT 06903
                    </p>
                    <h5>Contact Us Now</h5>
                    <p>Comments? Questions? Let us know!</p>
                    <form action="" method="post" id="contactForm">
                        <!-- NAME -->
                        Your Name (required)<br> <input type="text" name="your-name" value="" size="40"/> <br>
                        <!-- EMAIL -->
                        Your Email (required)<br> <input type="email" name="your-email" value="" size="40" /> <br>
                        <!-- SUBJECT -->
                        Subject<br><input type="text" name="your-subject" value="" size="40"/> <br>
                        <!-- COMMENT -->
                        Your Message<br><textarea name="your-message" cols="40" rows="10"></textarea> <br>
                        <!-- SEND BUTTON -->
                        <input type="submit" value="Send" />
                    </form>    
    			</div>
    		</div>
    	</article>
    </div>
</div>

<!-- Highlight the footer link -->
<script type="text/javascript"> 
    $(document).ready( function() {
        highlightLink('div.footer-box:nth-child(1) a');
    });
</script>