<!-- Yuqing Wang 2016 -->

<head>
	<title>Examples of Real-World Activities | App To Succeed</title>
	<meta name="keywords" content="Examples of Real-World Activities, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="Trends likely to impact teenagers financially"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Examples of Real-World Activities'); </script>
</head>

<div id="main-entry">
	<p>Each student will:</p>
	<ul>
		<li>Make an optimal post-graduation plan:
			<ul>
				<li>Choose where to continue their education</li>
				<li>Learn how to pay for their education</li>
				<li>Start the financial aid process</li>
			</ul>
		</li>
		<li>Make a money management plan
			<ul>
				<li>Plan how to make money</li>
				<li>Choose a place to keep their money</li>
				<li>Choose financial services they need</li>
				<li>Make a budget</li>
				<li>Make a savings plan</li>
			</ul>
		</li>
		<li>Make a career plan
			<ul>
				<li>Choose a career category that fits</li>
				<li>Identify priorities to consider when evaluating a career job offer</li>
			</ul>
		</li>
		<li>Make a financial life plan
			<ul>
				<li>Identify goals</li>
				<li>Quantify cost of goals</li>
				<li>Paying for their plan</li>
			</ul>
		</li>
	</ul>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/metrics">Next Page >></a>
</div>