<!-- Yuqing Wang 2016 -->

<head>
	<title>Map the Money Maze | App To Succeed</title>
	<meta name="keywords" content="App to Succeed, Map the Money Maze"/>
	<meta name="description" content="Map the Money Maze application to help teenagers learn personal finance information"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Map the Money Maze'); </script>
</head>

<div id="main-entry">
	<h5>WHAT IS MAP THE MONEY MAZE?</h5>
	<p>Map the Money Maze is the single best way for 16-19-year-olds to learn the personal finance knowledge they need to become and remain financially responsible, self-sufficient and successful. It is an internet-based learning experience, so as long as a teen has access to the internet and a computer, laptop or mobile device, they have access to Map the Money Maze.</p>
	<h5>WHAT MAKES MAP THE MONEY MAZE THE BEST?</h5>
	<div class="content-column">
		<p><strong>It Shares Your Objectives</strong><br/>
			Map the Money Maze has the same objective as you, to provide access for all American 16-19-year-olds to credible comprehensive information that’s essential for their financial well-being. The intent of Map the Money Maze is to circumvent the barriers that prevent teens from getting this important part of their education. 
		</p>
		<ul>
			<li>Map the Money Maze is available to all 16-19-year-old Americans regardless of their resources in the U.S. because:</li>
			<li>It does not sell a variety of products to make a profit</li>
		</ul>
	</div>
	<div class="content-column">
		<p><strong>It Costs Less and Offers More</strong></p>
		<p>It costs less than the comparable comprehensive, personal finance education alternatives:</p>
		<ul>
			<li>An individual subscription that lasts for four months (or the length of the school term, whichever is longer) is $50.00.</li>
			<li>Discounts will be offered for: large groups of subscribers, for the introductory period and for schools that award academic credit to those who complete Map the Money Maze.</li>
			<li>Students who cannot afford to pay the subscription fee, as well as high schools and other teen organizations that do not have adequate funding, can apply for a sponsorship</li>
			<li>Map the Money Maze has no hidden or additional costs, i.e. there are no workbooks, DVDs, texts, lesson plans or to need to purchase updated material. It is accessed through the internet and updated on a regular basis at no extra charge.</li>
			<li>All subscription fees and donations allocated to: update Map the Money Maze, development of new financial literacy programs to serve other at-risk demographic groups in the United States, and to minimize overhead costs.</li>
			<li>Map the Money Maze costs significantly less than a teacher-led class, making it affordable to schools and individuals.</li>
		</ul>
		<p><strong>Teacher-Optional</strong><br>
			Map the Money Maze is designed to be the most effective method of engaging teens in comprehensive personal finance content with or without a teacher so that the expense of a teacher will not prevent teens from getting this critical information. By engaging students in teacher-optional learning, all teens can have access to the personal finance education they need regardless of budget restrictions. Without a teacher, students can take the program during school breaks so that crowded curriculums cannot obstruct their access to this comprehensive program.
		</p>
		<p>Map the Money Maze is designed to engage, motivate and monitor the students’ progression through to completion. It motivates students to learn through:</p>
		<ul>
			<li>Competition</li>
			<li>Progress tracking</li>
			<li>Positive Feedback</li>
			<li>Incentives/Goals</li>
			<li>Entertainment value</li>
		</ul>
		
	</div>
</div>
<div class"content-columu">
	<div class="graphic-area">
		<p>Map the Money Maze vs. Teacher-Led Class</p>
		<p><img/></p>
		<p>Savings per class*</p>
		<p>$3,884</p>
		<p><img/></p>
		<p>Savings per student</p>
		<p>$166</p>
		<p>*Average high school class size (23.4 students)</p>
	</div>
</div>
<div class="content-column">
	<p>In schools and organizations with ample budgets, that can to afford to hire or train personal finance teachers, Map the Money Maze can  be used as:</p>
	<ul>
		<li>the entire course content,</li>
		<li>assessments of students’ comprehension of the content, such as:
			<ul>
				<li>mastery of National Standards of Financial Literacy,</li>
				<li>ability to apply the concepts to real life situations,</li>
				<li>ability to make responsible financial decisions,</li>
			</ul>
		</li>
		<li>an independent study for academic credit.</li>
	</ul>
</div>
<div class="content-column"><img/></div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/superior-content">Next Page >></a>
</div>