<!-- Yuqing Wang 2016 -->

<head>
	<title>Metrics | App To Succeed</title>
	<meta name="keywords" content="Metrics, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="Metric data from using MAp the Money Maze"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Metrics'); </script>
</head>

<div id="main-entry">
	<p>Students who complete Map the Money Maze will be emailed a Certification Packet. The packet includes a report of the student’s performance compared to national, regional or class averages on:</p>
	<ul>
		<li>Pre and post-test</li>
		<li>Comprehension and mastery of the 12th Grade National Standards for Financial Literacy assessments.</li>
		<li>Copies of their activities that demonstrate sound financial decision making and planning on real-life decisions.</li>
		<li>Number of times logged into program.</li>
		<li>Number of times required extra content to learn concept.</li>
		<li>Number of times and amount spent in “Learn More”.</li>
		<li>Amount of time spent in program.</li>
		<li>Suggested links for further learning.</li>
	</ul>
	<h5>RECOGNITION</h5>
	<p>Students are encouraged to request academic credit for completion of the program. Each teen who completes Map the Money Maze will be awarded a Certificate of Financial Literacy with a recommendation to include it in their college and financial aid applications and/or in their resumes.</p>
</div>