<!-- Yuqing Wang 2016 -->

<head>
	<title>Teens and Personal Finance Education | App To Succeed</title>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Teens and Personal Finance Education'); </script>
</head>

<!-- Article content -->
<div class="entry-content">
	<div>
		<div>
			<h5>DOES IT WORK?</h5>
			<p>Nearly all studies report that high school students who take a personal finance course:</p>
			<ul>
				<li>demonstrate better short-term and long-term financial behaviors,</li>
				<li>borrow less,</li>
				<li>accumulate more wealth,</li>
				<li>pay less in fees for financial services,</li>
				<li>have less difficulty with debt,</li>
				<li>make investments,</li>
				<li>are more likely to know the terms of their mortgages and other loans, and</li>
				<li>are more apt to prevent costly mistakes and financial disasters.</li>
			</ul>
			<p>Studies that dispute the effectiveness of personal finance education:</p>
			<ul>
				<li>are rare,</li>
				<li>are more likely due to the way personal finance was taught, or</li>
				<li>have flawed research methodology.</li>
			</ul>
			<p><strong>Fact:</strong></p>
			<p>Surveys have found that 95% of Americans (including teens, high school teachers and parents of teens) want a course in personal finance to be required in high school.</p>
		</div>
		
	</div>
	<div>
		<img />
	</div>
	<h5>MEETING THE DEMAND</h5>
	<div>
		<p>Between 2.1 and 2.8 million American high school students graduate each year without an adequate personal finance education. What are the barriers that prevent or dilute the effectiveness of personal finance education in high school?</p>
	</div>
	<div>
		<div>
			<ul>
				<li>Crowded curriculums added to limited budgets, prevent personal finance from being offered or cause it to be offered in ways that obstruct a true measure of its potential impact.</li>
				<li>Personal finance content is often divided among core subjects, i.e. math, history, sociology, economics; where it becomes a lower priority, lacks continuity, limits depth and breadth of critical concepts and topics and, therefore, is less effective.</li>
				<li>Personal Finance when offered as an elective course is often grouped with courses like Sewing, History of TV, and Beginning Yoga. It can be perceived as less academic and may attract a less-academic student. In this context, measuring effectiveness would likely be understated.</li>
				<li>
					There is an overwhelming amount of personal finance content available and teachers tend to pick and choose from different sources for any given topic, chancing:
					<ul>
						<li>Information gaps/omission of critical content.</li>
						<li>Inconsistency in quality of the content, sequencing, depth and breadth of topics.</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div>
		<img />
	</div>
	<div>
		<h5>IMPACT</h5>
	</div>
	<div>
		<div>
			<p>Effective personal finance education is the golden key. It has the potential to:</p>
			<ul>
				<li>Prepare teens to manage the increasing financial demands on their generation and to become financially self-sufficient and successful,</li>
				<li>reduce the economic drain of lifetime government support and lost economic opportunity by showing teens how to afford post-secondary school, which can:
					<ul>
						<li>Convince them that high school is a means to a positive outcome.</li>
						<li>Motivate them to stay in high school.</li>
					</ul>
				</li>
				<li>help narrow the gap between the privileged and the underprivileged, and</li>
				<li>help break the cycle of poverty.</li>
			</ul>
		</div>
	</div>
	<div>
		<img />
	</div>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/map-the-money-maze">Next Page >></a>
</div>