<head>
	<title>Blog | App To Succeed</title>
	<meta name="keywords" content="Blog, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="Blog for App to Succeed"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Blog'); </script>
</head>

<div id="page-view">
    <div id="secondary"></div>
	<div id="primary">
		<article>
			<div id="entry-content">
				<div id="main-entry">
					<!-- CONTENT HERE -->
				</div>
			</div>
		</article>
	</div>
</div>

<!-- Highlight the footer link -->
<script type="text/javascript"> 
    $(document).ready( function() {
        highlightLink('div.footer-box:nth-child(5) a');
    });
</script>