<head>
	<title>Site Map | App To Succeed</title>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Site Map'); </script>

	<!-- *Render page links for site map* -->
	<script type="text/javascript" src="../js/site-map.js"></script>
</head>


<div id="page-view">
    <div id="secondary"></div>
	<div id="primary">
		<article>
			<div id="entry-content">
				<div id="main-entry"></div>
			</div>
		</article>
	</div>
</div>

<!-- Highlight the footer link -->
<script type="text/javascript"> 
    $(document).ready( function() {
        highlightLink('div.footer-box:nth-child(6) a');
    });
</script>