<!-- CONTRIBUTORS: Yuqing Wang 2016 -->

<head>
	<title>Leadership | App To Succeed</title>
	<meta name="keywords" content="Leadership, Teri Adler, Renee Ring, Lee Newcomer, Bob Hurwich, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="The leaders of App to Succeed and their experience"/>

	<script type="text/javascript"> 
		//Set Header Page Title
		setHeaderPageTitle('Leadership');
	</script>
</head>

<div id="main-entry">
	<h5>THE BOARD</h5>
	<h6>Teri Adler serves as Chairman/President/Founder</h6>
	<p>Ms. Adler has over twenty-five years of experience in:</p>
	<p><strong>Nonprofit</strong> Development executive positions for small and large nonprofit organizations including AmeriCares, Inc.</p>
	<p>Responsible for: Strategic planning; chair responsibilities for fundraising and community service events; recruiting, training and managing volunteers; establishing new funding initiatives from concept stage through completion; fundraising, annual campaigns, new prospect research; designing and implementing development department infrastructure, grant writing and grant management; direct mail campaigns, international field program ambassador.</p>
	<p><strong>Business</strong> in senior executive positions with small, medium, and large corporations including Kraft General Foods, Emporium/Capwell (department store chain), TSN Group, Inc. (a national seminar and publishing company), and Relda Inc. (an exotic car repair and restoration/operation; owner).</p>
	<p>Responsible for: Design, implementation, management and evaluation of national educational seminars; new product development, revenue and profit, general management, planning, operations, marketing, employee training and human resources.</p>
	<p><strong>Education</strong> as Lower School Division Head, Chairperson for multiple events and committees, leadership positions on Parent Associations, Parents Advisory Committee, and Parents Fund Committees and as a volunteer special-guest teacher. Ms. Adler has a Master’s in Management (MBA) from Northwestern University Kellogg’s Graduate School of Management, Evanston, IL. Double majors: Marketing and International Business. Personal Finance Education Teacher Training Certification 2015.</p>
	<h6>Renee Ring serves as Director and Treasurer</h6>
	<p>Ms. Ring has 20+ years of professional experience in law and nonprofit organizations. She has served and is serving on several nonprofit boards. She brings legal expertise from practicing law with top New York law firms and development experience with nonprofits. Ms. Ring earned her law degree from the University of Virginia.</p>
	<h6>Lee Newcomer serves as Director and Secretary</h6>
	<p>Dr. Newcomer has more than 20 years of experience in the health field as an oncologist and Senior Vice President for the leading national health insurance provider. Dr. Newcomer has extensive experience with starting and implementing entrepreneurial business in the medical field. He is a professional speaker and advocate for innovation in medicine. Dr. Newcomer has a MD, MHA and completed a fellowship in oncology at Yale University, School of Medicine.</p>
	<h5>OUR ADVISORY</h5>
	<h6>Bob Hurwich, SCORE advisor</h6>
	<p>A graduate of Harvard Law School practiced corporate law for over 30 years and serves as an advisor with the Senior Corps of Retired Executives (SCORE)</p>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/supporters">Next Page >></a>
</div>