<!-- CONTRIBUTORS: Yuqing Wang 2016 -->

<head>
	<title>Our Standards | App To Succeed</title>
	<meta name="keywords" content="Our Standards, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="The standards upheld by App to Succeed"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Our Standards'); </script>
</head>

<div id="main-entry">
	<p>App to Succeed aims to:</p>
	<ul>
		<li>Be a trusted partner.</li>
		<li>Provide effective personal finance education to Americans who need it the most.</li>
		<li>Provide credible content, (e.g. from impartial sources that have no commercial intent.)</li>
		<li>Offer content that is comprehensive, relevant to the learner, and has the potential to have a positive effect on the participant’s short and long term financial well-being.</li>
		<li>Conduct the organization’s operations and activities with integrity.</li>
		<li>Protect the privacy of all personal information (unless the participant gives their explicit consent to share it). <a href="#privacy-policy">See Privacy Policy</a></li>
	</ul>
	<p>If for any reason, your experience with App to Succeed does not meet these standards, kindly email us at <a href="mailto:MoneyMaze@apptosucceed.org">MoneyMaze@apptosucceed.org</a> so that we can make appropriate adjustments. Thank you.</p>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/privacy-policy">Next Page >></a>
</div>