<!-- CONTRIBUTORS: Yuqing Wang 2016 -->

<head>
	<title>Our Mission | App To Succeed</title>
	<meta name="keywords" content="Our Mission, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="Mission statement for App to Succeed"/>

	<script type="text/javascript"> 
		//Set Header Page Title
		setHeaderPageTitle('Our Mission');
	</script>

</head>

<div id="main-entry">
	<p>App to Succeed, Inc. is a 501(c)(3) nonprofit organization that provides best-in-class, comprehensive personal finance education for at-risk Americans to enable them to become financially responsible, self-sufficient and successful.</p>
	<p>Our programs engage each learner, with content that is personalized to their individual interests, goals, abilities and learning styles. Every program is designed to be highly visual and interactive. The program challenges students to apply the program concepts they learn by making decisions on financial situations they will soon be facing in the real world. After they make their choice, they receive immediate, data-based feedback, which is just is one of the many ways the program demonstrates authenticity.</p>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/leadership">Next Page >></a>
</div>