<!-- CONTRIBUTORS: Dillon Bastan 2016, Yuqing Wang 2016 -->

<head>
	<title>Supporters | App To Succeed</title>
	<meta name="keywords" content="Supporters, App to Succeed, Map the Money Maze"/>
	<meta name="description" content="Volunteers, interns, affiliates and special thanks for App to Succeed"/>

	<script type="text/javascript"> 
		//Set Header Page Title
		setHeaderPageTitle('Supporters');
	</script>
</head>


<div id="main-entry">

	<div id="support1" title="Volunteers and Interns" class="content-slideshow-child">
		<h5>VOLUNTEERS/INTERNS</h5>
		<p>App to Succeed gratefully acknowledges the following individuals for generously contributing their time, talents and expertise.</p>
		<div>
			<div>
				<div>
					<table>
						<tbody>
							<tr>
								<td><strong>Animation</strong></td>
							</tr>
							<tr>
								<td><div>Eric Baumgartner</div></td>
							</tr>
							<tr>
								<td>Katelyn Hagen</td>
							</tr>
							<tr>
								<td>Amanda LaFlower</td>
							</tr>
							<tr>
								<td><div>Amber Lank</div></td>
							</tr>
							<tr>
								<td>Natalie Person</td>
							</tr>
							<tr>
								<td>Michale Warren</td>
							</tr>
							<tr>
								<td><div><strong>Audio</strong></div></td>
							</tr>
							<tr>
								<td><div>Wesly Allen Warren</div></td>
							</tr>
							<tr>
								<td><strong>Film</strong></td>
							</tr>
							<tr>
								<td>Tevin Bailey</td>
							</tr>
							<tr>
								<td>Jonathan Lim</td>
							</tr>
							<tr>
								<td><strong>Grants</strong></td>
							</tr>
							<tr>
								<td>Jody Caponero</td>
							</tr>
							<tr>
								<td>Mrinal Kumar</td>
							</tr>
							<tr>
								<td><strong>Graphic Design</strong></td>
							</tr>
							<tr>
								<td>Alex Anderson</td>
							</tr>
							<tr>
								<td>Molly Brooks</td>
							</tr>
							<tr>
								<td><strong>Ilustration</strong></td>
							</tr>
							<tr>
								<td>Keira Kim</td>
							</tr>
							<tr>
								<td>Isa Terrell</td>
							</tr>
							<tr>
								<td><strong>Photography</strong></td>
							</tr>
							<tr>
								<td>Shanice Holt</td>
							</tr>
							<tr>
								<td>Lucia N. Schoolfield</td>
							</tr>
							<tr>
								<td><strong>Powerpoint Design</strong></td>
							</tr>
							<tr>
								<td>Julian Alexander Rice</td>
							</tr>
							<tr>
								<td><div><strong>Software Development</strong></div></td>
							</tr>
							<tr>
								<td><div>Yaser AlBonni</div></td>
							</tr>
							<tr>
								<td><div>Sowmya Gurum</div></td>
							</tr>
							<tr>
								<td><div>Michael Leath</div></td>
							</tr>
							<tr>
								<td><div>Rohit Singh</div></td>
							</tr>
							<tr>
								<td><div>Brian Wance</div></td>
							</tr>
							<tr>
								<td><div>Jielei Wang</div></td>
							</tr>
							<tr>
								<td><div>Ivan Wong</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>
				<div>
					<table>
						<tbody>
							<tr>
								<td><strong>Website Development</strong></td>
							</tr>
							<tr>
								<td>Carl Ahlers</td>
							</tr>
							<tr>
								<td>Michael R Alquist</td>
							</tr>
							<tr>
								<td>Jim Andersen</td>
							</tr>
							<tr>
								<td>Andrea Campos*</td>
							</tr>
							<tr>
								<td>Eugene Fedotov</td>
							</tr>
							<tr>
								<td>Jon Frederickson</td>
							</tr>
							<tr>
								<td>Ameya Patil</td>
							</tr>
							<tr>
								<td>Suvarna Singh</td>
							</tr>
							<tr>
								<td><div>Michael Sparling</div></td>
							</tr>
							<tr>
								<td>Anthony Toscano</td>
							</tr>
							<tr>
								<td>Xiaoying Tu*</td>
							</tr>
							<tr>
								<td>Mike Vivona</td>
							</tr>
							<tr>
								<td><div>Eric Wallace*</div></td>
							</tr>
							<tr>
								<td>Chu Wei*</td>
							</tr>
							<tr>
								<td>Lorraine Wilcock</td>
							</tr>
							<tr>
								<td> <strong>Writing (Content and Script)</strong></td>
							</tr>
							<tr>
								<td><div>Joshua Anderson*</div></td>
							</tr>
							<tr>
								<td><div>Hans Chesca</div></td>
							</tr>
							<tr>
								<td>Angela Clem</td>
							</tr>
							<tr>
								<td>Vanessa Coppola</td>
							</tr>
							<tr>
								<td><div>Rebecca J. Hyland</div></td>
							</tr>
							<tr>
								<td>Emily Lundberg</td>
							</tr>
							<tr>
								<td>Jessie Lunde</td>
							</tr>
							<tr>
								<td>Kevin Krotz</td>
							</tr>
							<tr>
								<td>Jonathon Persinger</td>
							</tr>
							<tr>
								<td><div>Susan Velazquez*</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>*Made exceptional contribution</div>
		</div>	
	</div>
	<!-- #Volunteers and Interns -->

	<div id="support2" title="Affiliates" class="content-slideshow-child">
		<h5>AFFILIATES</h5>
		<ul>
			<li>Innovation Center of Stamford, CT</li>
			<li>Women’s Business Development Council, WBDC</li>
			<li>Senior Corp of Retired Executives</li>
		</ul>
	</div>
	<!-- #Affiliates -->

	<div id="support3" title="Special Thanks" class="content-slideshow-child">
		<h5>SPECIAL THANKS</h5>
		<ul>
			<li>4 Square</li>
			<li>Samantha Cross</li>
			<li>Janet and Edward Miller</li>
			<li>P & P</li>
			<li>Layne Rodney</li>
			<li>WestWind Foundation</li>
		</ul>>
	</div>
	<!-- #Special Thanks -->

</div>


<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/our-standards">Next Page >></a>
</div>


<!-- Supporters Slideshow extended side navigation menu -->
<script type="text/javascript">

	$(document).ready( function() {

		//Add extended side navigation menu for Slideshow (listType, parentList, childIndex, id)
		ExtendMenu.slideshow('ul', 'ul.page-nav-menu', 2, 'supporters');

		//Jump to page section based on side menu nav
		ContentSlideshow.pageJump();
	});
	
</script>