<!-- CONTRIBUTORS: Dillon Bastan 2016, Yuqing Wang 2016 -->

<head>
	<title>Map the Money Maze FAQs | App To Succeed</title>
	<meta name="keywords" content="FAQ, Map the Money Maze"/>
    <meta name="description" content="Frequently asked questions for the Map the Money Maze application"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle('Map the Money Maze FAQs'); </script>
</head>


<div id="main-entry">
	<div id="faq1" title="Why is it the best way to learn about money?" class="content-slideshow-child" style="border:0px; background-color:white;">
		<a href="#/map-the-money-maze-faq#faq1" class = "h5-link">
			<h5 class = "faq-h5"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> WHY IS IT THE BEST WAY TO LEARN ABOUT MONEY?</h5>
		</a>
		<div class="dropdown-content">
			<ul>
				<li>
					<u>Our mission is your success.</u> The purpose of Map the Money Maze is to provide you with credible information that’s essential for your financial well-being; we are not trying to sell you any products or make a profit. We just want you to know what you need to in order to succeed financially.
				</li>
				<li>
					<u>This is not your ordinary learning experience.</u> You will be entertained, intrigued and captivated since the content is designed to help understand and remember it. As you make your way through the Maze you will encounter highly interactive and visual real-life applications and tools you can start using now to make financial decisions in the real world.
				</li>
				<li>
					<u>We know you are busy,</u> we respect that, so for each topic, you will be given information that’s essential, presented efficiently and concisely; just click on the “Learn More” option if you want to know more.
				</li>
				<li>
					<u>This experience is customized</u> to help YOU reach YOUR goals.
				</li>
				<li>
					<u>Map the Money Maze adapts to your learning style.</u> You choose where, when, how fast, for how long and how much you want to learn every time you log into the Maze.
				</li>
				<li>
					<u>Map the Money Maze helps you make a “how-to-pay-for-college plan.”</u> A college degree is the first step to financial success, but it’s expensive. You will plan how to make college possible for you.
				</li>
			</ul>
		</div>
	</div>
	<!-- #Why is it the best way to learn about money? -->

	<div id="faq2" title="What will I know?" class="content-slideshow-child" style="border:0px; background-color:white;">
		<a href="#/map-the-money-maze-faq#faq2" class = "h5-link">
			<h5 class = "faq-h5"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> WHAT WILL I KNOW?</h5>
		</a>
		<div class="dropdown-content">
			You’ll have:
			<ul>
				<li>the knowledge to become financially successful</li>
				<li>mastered the National Standards for Financial Literacy for high school seniors.</li>
			</ul>
		</div>
	</div>
	<!-- #What will I know? -->

	<div id="faq3" title="What does it cost?" class="content-slideshow-child" style="border:0px; background-color:white;">
		<a href="#/map-the-money-maze-faq#faq3" class = "h5-link">
			<h5 class = "faq-h5"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> WHAT DOES IT COST?</h5>
		</a>
		<div class="dropdown-content">
			<ul>
				<li>
					<u>Map the Money Maze costs less</u> than comparable options and is more effective, efficient and credible. Map the Money Maze will actually be worth significant money to you. It’s like having your own team of professionals: college financial aid consultant, college counselor, financial planner, banker, insurance advisor, money manager, investment advisor, career counselor, etc. You’ll learn personal finance concepts, practice how to apply them to achieve your goals and end up with a financial plan personalized for you.
				</li>
				<li>
					<u>The price of an individual four-month subscription</u> is $50 for those who can pay. Those who cannot afford to pay the subscription price may apply, through our website, for a sponsorship.
				</li>
				<li>
					<u>Discounts</u> are available for larger groups and for schools that award academic credit for completing the program.
				</li>
			</ul>
		</div>
	</div>
	<!-- #What does it cost? -->

	<div id="faq4" title="Will it fit in my schedule?" class="content-slideshow-child" style="border:0px; background-color:white;">
		<a href="#/map-the-money-maze-faq#faq4" class = "h5-link">
			<h5 class = "faq-h5"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> WILL IT FIT IN MY SCHEDULE?</h5>
		</a>
		<div class="dropdown-content">
			<ul>
				<li>
					<u>Map the Money Maze can fit into any schedule.</u> It’s available 24/7, through mobile devices and computers, wherever there is internet access.
				</li>
				<li>
					<u>Start your subscription any day of the year,</u> once Map the Money Maze is launched.
				</li>
			</ul>
		</div>
	</div>
	<!-- #Will it fit in my schedule? -->

	<div id="faq5" title="How do I get school credit?" class="content-slideshow-child" style="border:0px; background-color:white;">
		<a href="#/map-the-money-maze-faq#faq5" class = "h5-link">
			<h5 class = "faq-h5"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> HOW DO I GET SCHOOL CREDIT?</h5>
		</a>
		<div class="dropdown-content">
			<ul>
				<li>
					<u>Identify the appropriate contact person</u> in your school. Ask your home room teacher, course advisor, or college counselor. They should know who makes academic-credit decisions in your school. Sometimes Parent Associations officers or members can be influential.
				</li>
				<li>
					<u>Talk to the designated contact in person or <a class = "web-link" id="open-credit-dialog" href="#">forward this email.</a></u> It tells them about Map the Money Maze, that you would like to subscribe when it is introduced in 2015, and that you are requesting academic credit for completing it.
				</li>
				<li>
					<u>Direct the authorized person to more information at <a  class = "web-link" href="www.AppToSucceed.org">ApptoSucceed.org</a></u> and to click on “Educator” and <a class = "web-link" href="../../how-to-help/views/register.html">“Register”</a>.
				</li>
			</ul>
		</div>
	</div>
	<!-- #How do I get school credit? -->

	<div id="faq6" title="How do I get started?" class="content-slideshow-child" style="border:0px; background-color:white;">
		<a href="#/map-the-money-maze-faq#faq6" class = "h5-link">
			<h5 class = "faq-h5"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> HOW DO I GET STARTED?</h5>
		</a>
		<div class="dropdown-content">
			<ul>
				<li>
					<u>Go now</u> to <a class = "web-link" href="www.AppToSucceed.org">www.AppToSucceed.org</a> > “How to Help” > <a class = "web-link" href="www.AppToSucceed.org/how-to-help/#/register">“Register.”</a>
				</li>
				<li>
					After 2016 Launch: Visit <a class="web-link" href="www.AppToSucceed.org">AppToSucceed.org</a>, “Subscribe”
				</li>
			</ul>
		</div>
	</div>
	<!-- #How do I get started -->

	<div id="faq7" title="How will I know when it's ready to launch?" class="content-slideshow-child" style="border:0px; background-color:white;">
		<a href="#/map-the-money-maze-faq#faq7" class = "h5-link">
			<h5 class = "faq-h5"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> HOW WILL I KNOW WHEN IT'S READY TO LAUNCH?</h5>
		</a>
		<div class="dropdown-content">
			<ul>
				<li><u>We will contact you</u> using your registration information.</li>
			</ul>
		</div>
	</div>
	<!-- #How will I know when it's ready to launch? -->
</div>


<!-- Dialog for email for Academic Credit Form -->
<div id="credit-dialog" title="Email for Academic Credit">
	<div id="email-pre-send">

		<p>Fill in the information below and we will email the appropriate person to request academic credit for completion of Map the Money Maze, and CC you.</p>

		<form id="email-form" action="" method="post">
			<span>Your name</span>
			<input name="student-name" type="text"/>
			<span>Your email</span>
			<input name="student-email" type="email"/>
			<span>Name of person authorized to approve academic credit</span>
			<input name="contact-name" type="text"/>
			<span>Authorized person’s email</span>
			<input name="contact-email" type="email"/>
			<input class="sbutton" name="submit" type="submit" value="Send"/>
		</form>

	</div>
</div>

<!-- Email for school credit dialog -->
<script type="text/javascript" src="js/schoolCreditDialog.js"></script>

<style type="text/css">
	.ui-dialog > .ui-widget-header {
		color: #fff;
		background: #238967;
	}
	input.sbutton {
		color: #fff;
		border-radius: 4px;
		border-color: #238967;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
		font-weight: 400;
		background-color: #238967 !important;
	}
	input.sbutton:hover {
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
	}
</style>

<!-- MM Faq Views and Side menu -->
<script type="text/javascript">

	$(document).ready( function() {

		//Add extended side navigation menu for Slideshow (listType, parentList, childIndex, id)
		ExtendMenu.slideshow('ul', 'ul.page-nav-menu', 3, 'map-the-money-maze-faq');

		//Dropdown reveal content based on url hashtag
		ContentSlideshow.dropdown();
	});
	
</script>