<!-- Yuqing Wang 2016 -->

<head>
	<title>You're Worried About Money? | App To Succeed</title>
	<meta name="keywords" content="You're worried about money, App to Succeed, Map the Money Maze"/>
    <meta name="description" content="Common worries teenagers have of their financial future"/>

	<!-- Set Header Page Title -->
	<script type="text/javascript"> setHeaderPageTitle("You're Worried About Money?"); </script>
</head>

<div id="main-entry">
	<div>
		<img/>
	</div>
	<div>
		<p>Yeah, actually. Graduation is coming up and all of us want to go to college. We’d be crazy not to; you can’t get a decent job without a college degree. <em>Paying<em> for college is the problem.</p>
	</div>
	<div class="clear_column"></div>
	
	<div>
		<p>You’ve got that right. I mean, we know our parents have been saving for our college, but it costs so much more now. Were they able to save enough for our brothers and sisters who need to go to college too? A lot of us put away some money of our own, mainly from summer jobs, but what are we supposed to do if we come up short?</p>
	</div>
	<div>
		<img />
	</div>
	<div class="clear_column"></div>
	
	<div>
		<img />
	</div>
	<div>
		<p>Even college is not a guarantee. The news reported that half of recent college grads are unemployed or underemployed. I always thought I would have a better lifestyle than the one I grew up in, but now I’m starting wonder if that’s possible.</p>
	</div>
	<div class="clear_column"></div>
	
	<div>
		<p>I don’t know about you, but I’ve never even talked to my parents about money other than to ask them for some, borrow their credit card, or hear them complain about how expensive everything is.</p>
	</div>
	<div>
		<img />
	</div>
	<div class="clear_column"></div>
	<br>
	
	<div>
		<img />
	</div>
	<div>
		<p>All I know is that my part-time job is not enough to pay for college or even the rent for a place to live on my own. Before long, all of us are going to face some kind of money problems. How are we supposed to know how to handle them or, even better, prevent them?</p>
	</div>
	<div class="clear_column"></div>
	
	<div>
		<p>Exactly. Where are we supposed to learn about financial stuff? From our parents? From school? It’s not happening.</p>
	</div>
	<div>
		<img />
	</div>
	<div class="clear_column"></div>
	
	<div>
		<img />
	</div>
	<div>
		<p>They say people who take a personal finance course do better financially? It does makes sense; the more you know about money, the less likely you are to make mistakes that will cost you, big time.</p>
	</div>
	<div class="clear_column"></div>
	
	<div>
		<p>Check out Map the Money Maze! It’s supposed to be the best way to learn about money. It actually lets you make real-world financial decisions and gives you immediate feedback that’s based on actual data.</p>
	</div>	
	<div>
		<img/>
	</div>
	<div class="clear_column"></div>
	<br/>
	<div>
		<img />
	</div>
	<div>
		<p>Let’s ask our school if we can get academic credit. They should say yes because Map the Money Maze covers a lot more than other personal finance courses and you learn things you’ll actually use, now and for your entire life.</p>
	</div>
	<div class="clear_column"></div>
</div>

<!-- Next Page Navigation -->
<div class="nav-pages">
	<a href="#/what-is-map-the-money-maze">Next Page >></a>
</div>